body {
    background-color: lightgray;
    font-family: sans-serif;    
}

.header {
    background-color: whitesmoke;
    width: 800;
    padding-top: 5;
    padding-bottom: 5;
}

.options {
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.content {
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.error {
    color: red;
    font-size: 15px;
}

/*For index.php*/

.threads {
    text-align: left;
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.thread_title {
    float: left;
    text-align: left;
}

.thread_details {
    float: right;
    text-align: right;
}

.complete_thread {
    padding: 10;
}

.thread_title:hover, .thread_details:hover, .complete_thread:hover {
    background-color: lightgray;
}

/*For view_thread.php*/

.op {
    text-align: left;
    background-color: white;
    width: 700;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.comments {
    text-align: left;
    background-color: white;
    width: 650;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 100;
    padding-right: 50;
}

h2 {
    font-size: 12px;
    font-weight: 100;
}